.tip
{
  font:10px/12px Arial,Helvetica,sans-serif; border:solid 1px #666666; width:250px;
  padding:1px; position:absolute; z-index:100; visibility:hidden; color:#333333;
  top:20px; left:90px; background-color:#FFFFCC;
}

img
{
  vertical-align:top; position:absolute;
}

img.toolbutton
{
  width:16px; height:15px; border:solid 1px; visibility:hidden;
}

div
{
  position:absolute; background:#FFFFFF; color:#005080; font:11px Courier New;
}

.line
{
  position:absolute; font-size:0px; border:0px; background:#005080;
}

td
{
  vertical-align:top; font:11px Arial,Helvetica,sans-serif; color:#000040; height:16px;
}

input
{
  position:absolute; height:15px; background:#FFFFF0; color:#000000; font:11px Courier New; border:1px solid #005080;
}

input.text
{
  font:11px Courier New; border:solid 1px #2020A0;
  width:70px; height:17px; color:#000040; background-color:#FFFFF8;
}

input.button1
{
  font:11px Arial,Helvetica,sans-serif;
  width:50px; height:17px; color:#000040; background-color:#DDCCFF;
}

input.dummy
{
  position:absolute; height:15px; background:#FFFFFF; color:#000000; font:10px Arial; border:0px;
}

textarea
{
  position:absolute; background:#FFFFF0; color:#000000; font:11px Courier New; border:1px solid #005080;
}

.input_opaque
{
	position:absolute; height:15px; background:#FFFFF0; color:#000000; font:11px Courier New; border:1px solid #005080;
	filter:alpha(opacity=0);
	-moz-opacity:0.0;
	-khtml-opacity: 0.0;
	opacity: 0.0;
	z-index: -1;
}
.input_normal
{
	position:absolute; height:15px; background:#FFFFF0; color:#000000; font:11px Courier New; border:1px solid #005080;
	filter:alpha(opacity=100);
	-moz-opacity:1.0;
	-khtml-opacity: 1.0;
	opacity: 1.0;
	z-index: 2;
}